body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
:root{
    --white: #ffffff;
    --gray: #f3f3f3;
    --gray-mid: #9d9d9d;
    --gray-dark: #3e3e3e;
    --gray-hover: #f7f7f7;
}
.container{
    height: 22.5rem;
    width: 22.5rem;
    padding: 1.25rem;
    margin: 0.625rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}